absl-py==2.1.0
app==0.0.1
astunparse==1.6.3
automium==0.2.6
automium-web==0.1.1
awsebcli==3.21.0
bcrypt==4.2.1
beautifulsoup4==4.12.3
blinker==1.8.2
botocore==1.35.90
cement==2.10.14
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
cmdstanpy==1.2.4
colorama==0.4.6
commod==0.0.1
contourpy==1.2.1
cycler==0.12.1
Flask==3.0.3
Flask-Bcrypt==1.0.1
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
flatbuffers==24.3.25
fonttools==4.53.1
frozendict==2.4.4
gast==0.6.0
google-pasta==0.2.0
greenlet==3.1.1
grpcio==1.67.1
gunicorn==23.0.0
h5py==3.12.1
holidays==0.60
html5lib==1.1
idna==3.7
importlib_metadata==8.0.0
importlib_resources==6.4.0
itsdangerous==2.2.0
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
keras==3.6.0
kiwisolver==1.4.5
legacy==0.1.7
libclang==18.1.1
lxml==5.2.2
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.1
mdurl==0.1.2
ml-dtypes==0.4.1
mplfinance==0.12.10b0
multitasking==0.0.11
namex==0.0.8
null==0.6.1
numpy==2.0.0
opt_einsum==3.4.0
optree==0.13.1
packaging==24.1
pandas==2.2.2
pathspec==0.10.1
peewee==3.17.6
pillow==10.4.0
platformdirs==4.2.2
plotly==5.23.0
prophet==1.1.6
protobuf==5.28.3
Pygments==2.18.0
pyparsing==3.1.2

python-dateutil==2.9.0.post0
pytz==2024.1

PyYAML==6.0.2
requests==2.32.3
rich==13.9.4
scikit-learn==1.5.2
scipy==1.13.1
semantic-version==2.10.0
sequential==1.0.0
six==1.16.0
soupsieve==2.5
SQLAlchemy==2.0.36
stanio==0.5.1
ta==0.11.0
tenacity==9.0.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow_intel==2.18.0
termcolor==2.5.0
threadpoolctl==3.5.0
tqdm==4.67.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==1.26.20
vaderSentiment==3.3.2
wcwidth==0.2.13
webencodings==0.5.1
Werkzeug==3.0.3
wrapt==1.16.0
WTForms==3.2.1
yfinance==0.2.40
zipp==3.19.2
